defaults/flow.json
[{"id":"c3271096.6f1c08","type":"tab","label":"Configuration Settings"},{"id":"7d1b4d6d.b5149c","type":"tab","label":"Simulation"},{"id":"cf2f140b.3f783","type":"tab","label":"Device Main Flow"},{"id":"4d27551d.66d20c","type":"subflow","name":"Alarm/Alert check","info":"","in":[{"x":32,"y":65,"wires":[{"id":"d240023a.840ee8"}]}],"out":[{"x":648,"y":161,"wires":[{"id":"f9ed5077.2e5b18","port":0},{"id":"c653d3e6.43d3f8","port":1}]},{"x":728,"y":321,"wires":[{"id":"adbe7a46.cb1168","port":0}]}]},{"id":"ea8252d9.8335a","type":"subflow","name":"AlertServiceEngineer","info":"","in":[{"x":66,"y":177,"wires":[{"id":"ebf5c645.926a68"}]}],"out":[]},{"id":"331ae088.30ee2","type":"subflow","name":"Alarm/Alert check (2)","info":"","in":[{"x":32,"y":65,"wires":[{"id":"7bd73f94.637c9"}]}],"out":[{"x":862,"y":203,"wires":[{"id":"b3395086.e848d","port":0},{"id":"901ffe79.24b72","port":1}]},{"x":845,"y":378,"wires":[{"id":"f8afddc5.04947","port":0}]}]},{"id":"1230a66b.b6591a","type":"subflow","name":"AlertServiceEngineer (2)","info":"","in":[{"x":66,"y":177,"wires":[{"id":"b63f466f.982e68"}]}],"out":[]},{"id":"39e908a3.c616f8","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"790532b9.108c84","type":"twitter-credentials","z":"","screen_name":"@josekavunkal1"},{"id":"84b450b2.7b4bb","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"2364e8eb.a69db8","type":"mqtt-broker","z":"","broker":"rj5jh3.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"a:rj5jh3:app3233.354213718777","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"true","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"df24401b.d3699","type":"ibmiot","z":0,"name":"MyKey"},{"id":"36788598.81ac5a","type":"ibmiot","z":"","name":"Jose"},{"id":"c42a0d4c.fd5bd","type":"ibmiot","z":0,"name":"Jose"},{"id":"c40b0acd.f653d8","type":"ibmiot","z":0,"name":"Jose"},{"id":"4cfde69.e852218","type":"websocket-listener","z":"c3271096.6f1c08","path":"/ws/simple","wholemsg":"false"},{"id":"b6535d4d.7a60b8","type":"ibmiot","z":"","name":"Jose"},{"id":"c7c1f441.66896","type":"ibmiot","z":"","name":"Jose"},{"id":"1621b4c1.6a1f73","type":"ibmiot","z":"","name":"Jose"},{"id":"fe9d7eba.0fc9a","type":"ui_tab","z":"c3271096.6f1c08","name":"Configuration","icon":"dashboard","order":"1"},{"id":"181edd10.83d50b","type":"cloudant","z":"cf2f140b.3f783","host":"https://60e6399c-2278-4b67-b6e6-dcb75924dd4f-bluemix:666db1c15b79d1a4900fb59d83d46f4a8685b44cd0a0fcdfdf9879c9579f455f@60e6399c-2278-4b67-b6e6-dcb75924dd4f-bluemix.cloudant.com","name":"db"},{"id":"ddbb1178.f37a28","type":"ui_tab","z":"7d1b4d6d.b5149c","name":"Current Temperature","icon":"dashboard","order":"1"},{"id":"6798eef9.7739e8","type":"ui_group","z":"c3271096.6f1c08","name":"Temperature Settings","tab":"fe9d7eba.0fc9a","order":"2","disp":true,"width":"6"},{"id":"938c594.79f4ea8","type":"ui_group","z":"7d1b4d6d.b5149c","name":"Defrost","tab":"5576a04a.869e08","order":"1","disp":true,"width":"6"},{"id":"ab27421e.a54d7","type":"ui_group","z":"cf2f140b.3f783","name":"Chiller","tab":"5576a04a.869e08","order":"1","disp":true,"width":"6"},{"id":"5576a04a.869e08","type":"ui_tab","z":"","name":"Simulator","icon":"dashboard","order":"1"},{"id":"ddbb1f20.abaf5","type":"ui_tab","z":"c3271096.6f1c08","name":"Documentation","icon":"dashboard","order":"1"},{"id":"c4fb62df.1cc008","type":"ui_tab","z":"cf2f140b.3f783","name":"Home","icon":"dashboard","order":"1"},{"id":"9894b979.93ac78","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-light"},{"id":"a8cf2c69.52c93","type":"ui_group","z":"c3271096.6f1c08","name":"Default","tab":"fe9d7eba.0fc9a","disp":true,"width":"6"},{"id":"c653d3e6.43d3f8","type":"switch","z":"4d27551d.66d20c","name":"AlarmConditionCheck","property":"payload.data","propertyType":"msg","rules":[{"t":"gt","v":"CutOutTemperature","vt":"global"},{"t":"lt","v":"CutInTemperature","vt":"global"}],"checkall":"true","outputs":2,"x":369,"y":66,"wires":[["f9ed5077.2e5b18"],[]]},{"id":"d240023a.840ee8","type":"function","z":"4d27551d.66d20c","name":"SetDefaultNormalTemperatures","func":"if(!context.global.hasOwnProperty(\"CutOutTemperature\"))\ncontext.global.CutOutTemperature=20;\nif(!context.global.hasOwnProperty(\"CutInTemperature\"))\ncontext.global.CutInTemperature=10;\nreturn msg;","outputs":1,"noerr":0,"x":143,"y":139,"wires":[["c653d3e6.43d3f8","aa7f9e5.b83d3e"]]},{"id":"f9ed5077.2e5b18","type":"switch","z":"4d27551d.66d20c","name":"DefrostOFFCheck","property":"defrost","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":619,"y":51,"wires":[[]]},{"id":"aa7f9e5.b83d3e","type":"switch","z":"4d27551d.66d20c","name":"GreaterThanCutInTemperature","property":"payload.data","propertyType":"msg","rules":[{"t":"gt","v":"CutInTemperature","vt":"global"}],"checkall":"true","outputs":1,"x":204,"y":312,"wires":[["c9fcac4c.7c4c58"]]},{"id":"c9fcac4c.7c4c58","type":"switch","z":"4d27551d.66d20c","name":"LessThanCutOutTemperature","property":"payload.data","propertyType":"msg","rules":[{"t":"lt","v":"CutOutTemperature","vt":"global"}],"checkall":"true","outputs":1,"x":233,"y":377,"wires":[["adbe7a46.cb1168"]]},{"id":"adbe7a46.cb1168","type":"switch","z":"4d27551d.66d20c","name":"DefrostOFFCheck","property":"defrost","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":517,"y":371,"wires":[[]]},{"id":"3fc6e689.6fc812","type":"comment","z":"4d27551d.66d20c","name":"Alert Condition Check","info":"","x":240,"y":260,"wires":[]},{"id":"f013858d.c97d88","type":"comment","z":"4d27551d.66d20c","name":"Alarm Condition Check","info":"","x":153,"y":25,"wires":[]},{"id":"ebf5c645.926a68","type":"function","z":"ea8252d9.8335a","name":"CofiugureEmailID","func":"if(context.global.hasOwnProperty(\"email\"))\nmsg.to=context.global.email;\nelse{\ncontext.global.email=\"josekavunkal@gmail.com\";\nmsg.to=context.global.email;\n}\n//msg.to=\"josekavunkal@gmail.com\";\nreturn msg;","outputs":1,"noerr":0,"x":221,"y":177,"wires":[["b6668c83.6149b","2b200736.8d16f8"]]},{"id":"b6668c83.6149b","type":"e-mail","z":"ea8252d9.8335a","server":"smtp.gmail.com","port":"465","name":"","dname":"ServiceEngineerAlert","x":562,"y":186,"wires":[]},{"id":"2b200736.8d16f8","type":"debug","z":"ea8252d9.8335a","name":"","active":true,"console":"false","complete":"to","x":534,"y":95,"wires":[]},{"id":"901ffe79.24b72","type":"switch","z":"331ae088.30ee2","name":"AlarmConditionCheck","property":"payload.data","propertyType":"msg","rules":[{"t":"gt","v":"CutOutTemperature","vt":"global"},{"t":"lt","v":"CutInTemperature","vt":"global"}],"checkall":"true","outputs":2,"x":484,"y":136,"wires":[["b3395086.e848d"],[]]},{"id":"7bd73f94.637c9","type":"function","z":"331ae088.30ee2","name":"SetDefaultNormalTemperatures","func":"if(!context.global.hasOwnProperty(\"CutOutTemperature\"))\ncontext.global.CutOutTemperature=20;\nif(!context.global.hasOwnProperty(\"CutInTemperature\"))\ncontext.global.CutInTemperature=10;\nreturn msg;","outputs":1,"noerr":0,"x":143,"y":139,"wires":[["901ffe79.24b72","c7cc6717.5c0fd8"]]},{"id":"b3395086.e848d","type":"switch","z":"331ae088.30ee2","name":"DefrostOFFCheck","property":"defrost","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":785,"y":130,"wires":[[]]},{"id":"c7cc6717.5c0fd8","type":"switch","z":"331ae088.30ee2","name":"GreaterThanCutInTemperature","property":"payload.data","propertyType":"msg","rules":[{"t":"gt","v":"CutInTemperature","vt":"global"}],"checkall":"true","outputs":1,"x":204,"y":312,"wires":[["db229972.ad5b18"]]},{"id":"db229972.ad5b18","type":"switch","z":"331ae088.30ee2","name":"LessThanCutOutTemperature","property":"payload.data","propertyType":"msg","rules":[{"t":"lt","v":"CutOutTemperature","vt":"global"}],"checkall":"true","outputs":1,"x":233,"y":377,"wires":[["f8afddc5.04947"]]},{"id":"f8afddc5.04947","type":"switch","z":"331ae088.30ee2","name":"DefrostOFFCheck","property":"defrost","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":550,"y":377,"wires":[[]]},{"id":"16a177ea.c5df48","type":"comment","z":"331ae088.30ee2","name":"Alert Condition Check","info":"","x":240,"y":260,"wires":[]},{"id":"9849b0ef.7c29d","type":"comment","z":"331ae088.30ee2","name":"Alarm Condition Check","info":"Alarms and Alerts are raised as per the value\nof the current temperature .They are influenced \nby fllowing parameters.\n1.CutIn Temperature.\n2.CutOut temperature.\n\nIf temperature is lower than CutIn temperature \nand higher than CutOut temperature Alarms\nwill be raised .\n\nIf temperature is between CutIn and CutOut \ntemperature Alerts will be raised","x":153,"y":25,"wires":[]},{"id":"b63f466f.982e68","type":"function","z":"1230a66b.b6591a","name":"CofiugureEmailID","func":"if(context.global.hasOwnProperty(\"email\"))\nmsg.to=context.global.email;\nelse{\ncontext.global.email=\"josekavunkal@gmail.com\";\nmsg.to=context.global.email;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":221,"y":177,"wires":[["edd86481.4afb38"]]},{"id":"b12cdba5.abcea8","type":"e-mail","z":"1230a66b.b6591a","server":"smtp.gmail.com","port":"465","name":"","dname":"ServiceEngineerAlert","x":640,"y":341,"wires":[]},{"id":"352816ab.a9feea","type":"switch","z":"1230a66b.b6591a","name":"AlertNecessityCheck","property":"data","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":465,"y":256,"wires":[["b12cdba5.abcea8"],[]]},{"id":"edd86481.4afb38","type":"function","z":"1230a66b.b6591a","name":"AlertFrequencyCheck","func":"\n\nif(context.global.hasOwnProperty(\"LastMessageTime\")){\n    var now = ( new Date() ).getTime();\n    var lastMessageTime=context.global.LastMessageTime;\n    var alertFrequencyChange=context.global.alertFrequencyChange;\n    if ((now-lastMessageTime)/1000 >alertFrequencyChange)\n    context.global.NeedFlow=1;\n    else\n     context.global.NeedFlow=0;\n context.global.LastMessageTime=now;\n}else\n{\n    context.global.NeedFlow=1;\n    var now = ( new Date() ).getTime();\n    context.global.LastMessageTime=now;\n}\nmsg.data=context.global.NeedFlow;\n\nreturn msg;","outputs":1,"noerr":0,"x":302.5,"y":361.25,"wires":[["352816ab.a9feea"]]},{"id":"a1854a14.30b338","type":"ibmiot in","z":"cf2f140b.3f783","authentication":"boundService","apiKey":"1621b4c1.6a1f73","inputType":"cmd","deviceId":"josedeviceid","applicationId":"","deviceType":"DefrostControl","eventType":"defrost","commandType":"defrost","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":false,"allCommands":"","allFormats":"","qos":"0","x":119,"y":163.28219604492188,"wires":[["3b3a58fb.f8dc18"]]},{"id":"3b3a58fb.f8dc18","type":"function","z":"cf2f140b.3f783","name":"Defrost","func":"var now = ( new Date() ).getTime();\nvar value=msg.payload.data;\ncontext.global.defrost=msg.payload.data;\nmsg.payload = {\n    tstamp: now,\n    data: value\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":498.3332977294922,"y":165.91030883789062,"wires":[[]]},{"id":"4ad3b69c.08b478","type":"comment","z":"cf2f140b.3f783","name":"Registered Device Flows","info":"","x":118.61679077148438,"y":36,"wires":[]},{"id":"6f798840.065a88","type":"ibmiot in","z":"cf2f140b.3f783","authentication":"boundService","apiKey":"1621b4c1.6a1f73","inputType":"evt","deviceId":"josedeviceid","applicationId":"","deviceType":"+","eventType":"temperature","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":"0","x":116,"y":283.2821960449219,"wires":[["a0344e.dbe66bb","259873d4.55766c"]]},{"id":"4d43a47a.881f7c","type":"function","z":"cf2f140b.3f783","name":"Alarm","func":"var now = ( new Date() ).getTime();\nvar value=msg.payload.data;\nmsg.payload = {\n    tstamp: now,\n    Temperature: value, \n    incident: \"Alarm\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":533,"y":263.2821960449219,"wires":[["eb39c227.89b7c","bc6820ba.045db","4b2d322f.44fc6c"]]},{"id":"eb39c227.89b7c","type":"cloudant out","z":"cf2f140b.3f783","name":"database","cloudant":"181edd10.83d50b","database":"refrigeratordb","service":"iottool-cloudantNoSQLDB","payonly":true,"operation":"insert","x":795.5535888671875,"y":276.8074035644531,"wires":[]},{"id":"31c8cf1f.c10dd","type":"function","z":"cf2f140b.3f783","name":"Alert","func":"var now = ( new Date() ).getTime();\nvar value=msg.payload.data;\nmsg.payload = {\n    tstamp: now,\n    Temperature: value, \n    incident: \"Alert\",\n    Cause :\"Temperature above CutIn value\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":531,"y":303.2821960449219,"wires":[["eb39c227.89b7c","78be0a95.64bf64"]]},{"id":"4b2d322f.44fc6c","type":"subflow:1230a66b.b6591a","z":"cf2f140b.3f783","name":"Alert Service Engineer","x":756,"y":329.2821960449219,"wires":[]},{"id":"a0344e.dbe66bb","type":"subflow:331ae088.30ee2","z":"cf2f140b.3f783","name":"Alarm / Alert Check","x":335,"y":283.2821960449219,"wires":[["4d43a47a.881f7c"],["31c8cf1f.c10dd"]]},{"id":"4b7e9ed8.d7f7a","type":"comment","z":"cf2f140b.3f783","name":"Accepting Defrost Status","info":"egferg","x":178,"y":123.28219604492188,"wires":[]},{"id":"ca16a0fd.29ee4","type":"comment","z":"cf2f140b.3f783","name":"Alarms and Alerts","info":"Alarms and Alerts are raised as per the value\nof the current temperature .They are influenced \nby fllowing parameters.                         \n1.CutIn Temperature.                            \n2.CutOut temperature.\n\nIf temperature is lower than CutIn temperature \nand higher than CutOut temperature Alarms\nwill be raised .\n\nIf temperature is between CutIn and CutOut \ntemperature Alerts will be raised","x":156,"y":240.28219604492188,"wires":[]},{"id":"259873d4.55766c","type":"function","z":"cf2f140b.3f783","name":"Temperature","func":"var temp= msg.payload.data;\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":255.76666259765625,"y":411.3166809082031,"wires":[["782d2702.869418","20fd2290.9e126e"]]},{"id":"bc6820ba.045db","type":"function","z":"cf2f140b.3f783","name":"Temperature Alarm","func":"var temp=msg.payload.Temperature;\nmsg.payload=temp;\nmsg.topic=\"Alarm\";\nreturn msg;\n","outputs":1,"noerr":0,"x":757.88330078125,"y":195.88333129882812,"wires":[["7ea4e62f.8ca838"]]},{"id":"7ea4e62f.8ca838","type":"ui_toast","z":"cf2f140b.3f783","name":"show toast","x":1014.38330078125,"y":278.2500305175781,"wires":[]},{"id":"78be0a95.64bf64","type":"function","z":"cf2f140b.3f783","name":"Temperature Alert","func":"var temp=msg.payload.Temperature;\nmsg.payload=temp;\nmsg.topic=\"Alert\";\nreturn msg;\n","outputs":1,"noerr":0,"x":738,"y":388,"wires":[["7ea4e62f.8ca838"]]},{"id":"782d2702.869418","type":"ui_gauge","z":"cf2f140b.3f783","name":"Chiller Temperature","group":"ab27421e.a54d7","order":0,"width":0,"height":0,"gtype":"gage","title":"Chiller Temperature","label":"°C","format":"{{value}}","min":"-10","max":"50","x":484.99998474121094,"y":364,"wires":[]},{"id":"b7a0246f.19ade8","type":"function","z":"7d1b4d6d.b5149c","name":"Build JSON with temperature data.","func":"var now = ( new Date() ).getTime();\nvar value=msg.payload;\nmsg.payload = {\n    tstamp: now,\n    data: value\n};\nmsg.payload=JSON.stringify({tstamp: now,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":786.1640014648438,"y":136.96685791015625,"wires":[["5e326e42.7bbc2"]]},{"id":"5e326e42.7bbc2","type":"ibmiot out","z":"7d1b4d6d.b5149c","authentication":"boundService","apiKey":"c7c1f441.66896","outputType":"evt","deviceId":"josedeviceid","deviceType":"TemperatureSensor","eventCommandType":"temperature","format":"json","data":"{\"d\":{\"temperaure\":\"10\"}}","qos":"","name":"IBM IoT","service":"registered","x":1013.375,"y":134.57540893554688,"wires":[]},{"id":"9b612594.601d88","type":"comment","z":"7d1b4d6d.b5149c","name":"Chiller Temperature  Simulation","info":"","x":135,"y":33,"wires":[]},{"id":"b4ba128a.09754","type":"function","z":"7d1b4d6d.b5149c","name":"Build JSON with Defrost status.","func":"var evt = 'defrost';\nvar value = msg.payload;\ncontext.global.defrost=0;\nmsg.payload = {\n    eventType: evt,\n    data: value\n};\nmsg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":493.60853576660156,"y":459.10577392578125,"wires":[["afd5572c.57f388"]]},{"id":"afd5572c.57f388","type":"ibmiot out","z":"7d1b4d6d.b5149c","authentication":"boundService","apiKey":"c7c1f441.66896","outputType":"cmd","deviceId":"josedeviceid","deviceType":"DefrostControl","eventCommandType":"defrost","format":"json","data":"{\"d\":{\"alert\":\"defrost\"}}","qos":"","name":"IBM IoT","service":"registered","x":757.7902984619141,"y":457.79168701171875,"wires":[]},{"id":"2fdb1ea.55adfe2","type":"ui_slider","z":"7d1b4d6d.b5149c","group":"938c594.79f4ea8","order":"2","width":"","height":"","name":"Temperature Control Slider","label":"Temperature Control ","topic":"slide","min":"-10","max":"50","x":433.2696533203125,"y":76.88333129882812,"wires":[["5967cbf1.8b75f4","b7a0246f.19ade8"]]},{"id":"5967cbf1.8b75f4","type":"ui_numeric","z":"7d1b4d6d.b5149c","group":"938c594.79f4ea8","order":"2","width":"","height":"","name":"Chiller Temperature control UI","label":"Chiller Temperature","topic":"numb","format":"{{value}}","min":"-10","max":"50","x":451.1529541015625,"y":204.38333129882812,"wires":[["2fdb1ea.55adfe2"]]},{"id":"bf05d4de.37d738","type":"ui_switch","z":"7d1b4d6d.b5149c","group":"938c594.79f4ea8","order":1,"width":"","height":"","name":"Defrost Change Button","label":"Defrost OFF/ON","topic":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":154.1530303955078,"y":461.9000244140625,"wires":[["b4ba128a.09754"]]},{"id":"24f64b8e.6b6304","type":"ibmiot in","z":"c3271096.6f1c08","authentication":"boundService","apiKey":"b6535d4d.7a60b8","inputType":"cmd","deviceId":"josedeviceid","applicationId":"","deviceType":"TemperatureSensor","eventType":"+","commandType":"configuration","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":77,"y":108,"wires":[["2358458a.986b1a"]]},{"id":"2358458a.986b1a","type":"function","z":"c3271096.6f1c08","name":"Change Configuration","func":"if(msg.payload.eventType=='emailChange')\ncontext.global.email=msg.payload.data;\n\n\nelse if(msg.payload.eventType=='CutOutTempChange')\ncontext.global.CutOutTemperature=msg.payload.data;\n\nelse if(msg.payload.eventType=='CutInTempChange')\ncontext.global.CutInTemperature=msg.payload.data;\n\nelse if(msg.payload.eventType=='alertFrequencyChange')\ncontext.global.alertFrequencyChange=msg.payload.data;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":363.5555725097656,"y":107.20768737792969,"wires":[["f551b73f.099d28"]]},{"id":"e333c7d5.c1b938","type":"function","z":"c3271096.6f1c08","name":"Email change","func":"var evt = 'emailChange';\nvar value = msg.payload;\n\nmsg.payload = {\n    eventType: evt,\n    data: value\n};\nmsg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":388.6092529296875,"y":299.731689453125,"wires":[["dbbd08b.3796af8"]]},{"id":"2c7dd6dd.96faba","type":"function","z":"c3271096.6f1c08","name":"Cut OutTemperatrure Change","func":"var evt = 'CutOutTempChange';\nvar value = msg.payload;\ncontext.global.CutOutTemperature=8;\nmsg.payload = {\n    eventType: evt,\n    data: value\n};\nmsg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":568.6091766357422,"y":350.231689453125,"wires":[["dbbd08b.3796af8"]]},{"id":"76c0e852.d01c98","type":"function","z":"c3271096.6f1c08","name":"Cut In Temperature Change","func":"var evt = 'CutInTempChange';\nvar value = msg.payload;\ncontext.global.CutInTemperature=-2;\nmsg.payload = {\n    eventType: evt,\n    data: value\n};\nmsg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":568.6091766357422,"y":547.2317199707031,"wires":[["dbbd08b.3796af8"]]},{"id":"dbbd08b.3796af8","type":"ibmiot out","z":"c3271096.6f1c08","authentication":"boundService","apiKey":"b6535d4d.7a60b8","outputType":"cmd","deviceId":"josedeviceid","deviceType":"TemperatureSensor","eventCommandType":"configuration","format":"json","data":"{\"d\":{\"eventType\":\"CutInTempChange\",\"data\":\"21\"}}","qos":"","name":"IBM IoT","service":"registered","x":893.6092529296875,"y":300.231689453125,"wires":[]},{"id":"f551b73f.099d28","type":"debug","z":"c3271096.6f1c08","name":"","active":false,"console":"false","complete":"payload","x":584.6092529296875,"y":154.231689453125,"wires":[]},{"id":"1444d39a.b8a17c","type":"ui_slider","z":"c3271096.6f1c08","group":"6798eef9.7739e8","order":1,"width":"","height":"","name":"Cut Out Temperature","label":"Cut Out","topic":"","min":"-10","max":"50","x":285.9999694824219,"y":344.25,"wires":[["2c7dd6dd.96faba","9517371a.b5dbc8"]]},{"id":"6da17c60.4ebff4","type":"ui_slider","z":"c3271096.6f1c08","group":"6798eef9.7739e8","order":1,"width":"","height":"","name":"Cut In Temperature","label":"Cut In","topic":"","min":"-10","max":"50","x":278.9999694824219,"y":551.0001525878906,"wires":[["76c0e852.d01c98","a9b1b945.973868"]]},{"id":"753c5f40.31ef5","type":"ui_text_input","z":"c3271096.6f1c08","group":"6798eef9.7739e8","order":1,"width":"","height":"","name":"","mode":"email","delay":300,"label":"EMail ID","topic":"","x":105.75,"y":300,"wires":[["e333c7d5.c1b938"]]},{"id":"9517371a.b5dbc8","type":"ui_numeric","z":"c3271096.6f1c08","group":"6798eef9.7739e8","order":"2","width":"","height":"","name":"Cut Out Temperature","label":"Cut Out Temperature","topic":"","format":"{{value}}","min":"-10","max":"50","x":284.2499542236328,"y":413.75,"wires":[["1444d39a.b8a17c"]]},{"id":"a9b1b945.973868","type":"ui_numeric","z":"c3271096.6f1c08","group":"6798eef9.7739e8","order":"2","width":"","height":"","name":"Cut In Temperature","label":"Cut In Temperature","topic":"","format":"{{value}}","min":"-10","max":"50","x":289.2499694824219,"y":477.5,"wires":[["6da17c60.4ebff4"]]},{"id":"2c40966c.759c2a","type":"ui_numeric","z":"c3271096.6f1c08","group":"6798eef9.7739e8","order":0,"width":0,"height":0,"name":"Alert Frequency change control .","label":"Alert Frequency in Seconds","topic":"","format":"{{value}}","min":0,"max":"120","x":367.24998474121094,"y":235,"wires":[["99e754a4.26aae8"]]},{"id":"99e754a4.26aae8","type":"function","z":"c3271096.6f1c08","name":"AlertFrequencyChange","func":"var evt = 'alertFrequencyChange';\nvar value = msg.payload;\n\nmsg.payload = {\n    eventType: evt,\n    data: value\n};\nmsg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n\n","outputs":1,"noerr":0,"x":632.5,"y":232.75,"wires":[["dbbd08b.3796af8"]]},{"id":"686363e2.80151c","type":"comment","z":"c3271096.6f1c08","name":"Accept configuration change from platform","info":"Accept following configuration change from platform\n\n1.Email ID for email notification.\n2.CutOutTemperature .\n3.CutInTemperature .\n4.AlertFrequency .\n\n","x":190,"y":64,"wires":[]},{"id":"595db808.648608","type":"comment","z":"c3271096.6f1c08","name":"Send  configuration change to  platform","info":"","x":169,"y":186,"wires":[]},{"id":"78310abc.1b7ff4","type":"inject","z":"7d1b4d6d.b5149c","name":"Default Defrost Setting","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":164,"y":403,"wires":[["bf05d4de.37d738"]]},{"id":"a55176d2.f19c4","type":"inject","z":"7d1b4d6d.b5149c","name":"Default temperature","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":true,"x":133,"y":137,"wires":[["5967cbf1.8b75f4","b7a0246f.19ade8","2fdb1ea.55adfe2"]]},{"id":"92c2af44.befa48","type":"comment","z":"7d1b4d6d.b5149c","name":"Defrost Settings","info":"The flow below sends the Defrost settings to \nWatson IOT.By default it is set to OFF.User \ncan change this value with the help of \nswitch widget in Dashboard.","x":113,"y":347,"wires":[]},{"id":"82e9eedc.ded1b","type":"comment","z":"1230a66b.b6591a","name":"Service Engineer Notification","info":"Sends Email as notification in case of Alram situation.","x":140,"y":43,"wires":[]},{"id":"503d79bb.59184","type":"inject","z":"c3271096.6f1c08","name":"Set Default Value","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":true,"x":121,"y":234,"wires":[["2c40966c.759c2a"]]},{"id":"db1915ea.9e0088","type":"inject","z":"cf2f140b.3f783","name":"SetDefault 3","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":228.8263702392578,"y":471.8611145019531,"wires":[["782d2702.869418","20fd2290.9e126e"]]},{"id":"c911d454.749fc8","type":"inject","z":"c3271096.6f1c08","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":true,"x":55,"y":362.8611145019531,"wires":[["1444d39a.b8a17c","9517371a.b5dbc8"]]},{"id":"4d5f0c08.4c6f44","type":"inject","z":"c3271096.6f1c08","name":"","topic":"","payload":"-2","payloadType":"num","repeat":"","crontab":"","once":true,"x":64.89582824707031,"y":509.8888854980469,"wires":[["a9b1b945.973868","6da17c60.4ebff4"]]},{"id":"20fd2290.9e126e","type":"ui_chart","z":"cf2f140b.3f783","group":"ab27421e.a54d7","order":0,"width":0,"height":0,"label":"Chiller Temperature","name":"","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"3600","x":462.8402862548828,"y":474.6111145019531,"wires":[[],[]]}  ]
