defaults/flow.json
[{"id":"c3271096.6f1c08","type":"tab","label":"Configuration Settings"},{"id":"7d1b4d6d.b5149c","type":"tab","label":"Simulation"},{"id":"cf2f140b.3f783","type":"tab","label":"Device Main Flow"},{"id":"4d27551d.66d20c","type":"subflow","name":"Alarm/Alert check","info":"","in":[{"x":32,"y":65,"wires":[{"id":"d240023a.840ee8"}]}],"out":[{"x":648,"y":161,"wires":[{"id":"f9ed5077.2e5b18","port":0},{"id":"c653d3e6.43d3f8","port":1}]},{"x":728,"y":321,"wires":[{"id":"adbe7a46.cb1168","port":0}]}]},{"id":"ea8252d9.8335a","type":"subflow","name":"AlertServiceEngineer","info":"","in":[{"x":66,"y":177,"wires":[{"id":"ebf5c645.926a68"}]}],"out":[]},{"id":"39e908a3.c616f8","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"790532b9.108c84","type":"twitter-credentials","z":"","screen_name":"@josekavunkal1"},{"id":"84b450b2.7b4bb","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"2364e8eb.a69db8","type":"mqtt-broker","z":"","broker":"rj5jh3.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"a:rj5jh3:app3233.354213718777","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"true","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"df24401b.d3699","type":"ibmiot","z":0,"name":"MyKey"},{"id":"36788598.81ac5a","type":"ibmiot","z":"","name":"Jose"},{"id":"c42a0d4c.fd5bd","type":"ibmiot","z":0,"name":"Jose"},{"id":"c40b0acd.f653d8","type":"ibmiot","z":0,"name":"Jose"},{"id":"4cfde69.e852218","type":"websocket-listener","z":"c3271096.6f1c08","path":"/ws/simple","wholemsg":"false"},{"id":"b6535d4d.7a60b8","type":"ibmiot","z":"","name":"Jose","keepalive":"60","cleansession":true},{"id":"c7c1f441.66896","type":"ibmiot","z":"","name":"Jose","keepalive":"60","cleansession":true},{"id":"1621b4c1.6a1f73","type":"ibmiot","z":"","name":"Jose"},{"id":"fe9d7eba.0fc9a","type":"ui_tab","z":"c3271096.6f1c08","name":"Home","icon":"dashboard","order":"1"},{"id":"181edd10.83d50b","type":"cloudant","z":"cf2f140b.3f783","host":"https://60e6399c-2278-4b67-b6e6-dcb75924dd4f-bluemix:666db1c15b79d1a4900fb59d83d46f4a8685b44cd0a0fcdfdf9879c9579f455f@60e6399c-2278-4b67-b6e6-dcb75924dd4f-bluemix.cloudant.com","name":"db"},{"id":"ddbb1178.f37a28","type":"ui_tab","z":"7d1b4d6d.b5149c","name":"Current Temperature","icon":"dashboard","order":"1"},{"id":"6798eef9.7739e8","type":"ui_group","z":"c3271096.6f1c08","name":"Temperature Settings","tab":"ddbb1f20.abaf5","order":"2","disp":true,"width":"6"},{"id":"938c594.79f4ea8","type":"ui_group","z":"7d1b4d6d.b5149c","name":"Defrost / Chiller Temperature  Setting","tab":"5576a04a.869e08","order":"1","disp":true,"width":"6"},{"id":"ab27421e.a54d7","type":"ui_group","z":"cf2f140b.3f783","name":"Chiller","tab":"5576a04a.869e08","order":"1","disp":true,"width":"6"},{"id":"5576a04a.869e08","type":"ui_tab","z":"","name":"Simulator","icon":"dashboard","order":"1"},{"id":"ddbb1f20.abaf5","type":"ui_tab","z":"c3271096.6f1c08","name":"Configuration","icon":"dashboard","order":"1"},{"id":"c4fb62df.1cc008","type":"ui_tab","z":"cf2f140b.3f783","name":"Home","icon":"dashboard","order":"1"},{"id":"ceae9a8.bdb0168","type":"ui_base","name":"Node-RED Dashboard","theme":"theme-light"},{"id":"e6e1b312.4fb96","type":"ui_tab","z":"cf2f140b.3f783","name":"Simulator","icon":"dashboard"},{"id":"3ef0890d.39625e","type":"ibmiot in","z":"c3271096.6f1c08","authentication":"apiKey","apiKey":"b6535d4d.7a60b8","inputType":"cmd","deviceId":"josedeviceid","applicationId":"","deviceType":"TemperatureSensor","eventType":"+","commandType":"configuration","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":"","x":115,"y":105,"wires":[["639f47f1.de093"]]},{"id":"639f47f1.de093","type":"function","z":"c3271096.6f1c08","name":"Change Configuration","func":"if(msg.payload.eventType=='emailChange')\ncontext.global.email=msg.payload.data;\n\n\nelse if(msg.payload.eventType=='CutOutTempChange')\ncontext.global.CutOutTemperature=msg.payload.data;\n\nelse if(msg.payload.eventType=='CutInTempChange')\ncontext.global.CutInTemperature=msg.payload.data;\n\nelse if(msg.payload.eventType=='alertFrequencyChange')\ncontext.global.alertFrequencyChange=msg.payload.data;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":401.5555725097656,"y":104.20768737792969,"wires":[["d31225c2.0a18d"]]},{"id":"8c422adc.945338","type":"function","z":"c3271096.6f1c08","name":"Email change","func":"var evt = 'emailChange';\nvar value = msg.payload;\n\nmsg.payload = {\n    eventType: evt,\n    data: value\n};\nmsg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":426.6092529296875,"y":296.731689453125,"wires":[["f7a4453b.52fa7"]]},{"id":"57c4214c.7bf918","type":"function","z":"c3271096.6f1c08","name":"Cut OutTemperatrure Change","func":"var evt = 'CutOutTempChange';\nvar value = msg.payload;\n\nmsg.payload = {\n    eventType: evt,\n    data: value\n};\nmsg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":479.6092224121094,"y":347.231689453125,"wires":[["f7a4453b.52fa7"]]},{"id":"ecf74050.d33fe","type":"function","z":"c3271096.6f1c08","name":"Cut In Temperature Change","func":"var evt = 'CutInTempChange';\nvar value = msg.payload;\n\nmsg.payload = {\n    eventType: evt,\n    data: value\n};\nmsg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":469.6092529296875,"y":437.231689453125,"wires":[["f7a4453b.52fa7"]]},{"id":"f7a4453b.52fa7","type":"ibmiot out","z":"c3271096.6f1c08","authentication":"boundService","apiKey":"b6535d4d.7a60b8","outputType":"cmd","deviceId":"josedeviceid","deviceType":"TemperatureSensor","eventCommandType":"configuration","format":"json","data":"{\"d\":{\"eventType\":\"CutInTempChange\",\"data\":\"21\"}}","qos":"","name":"IBM IoT","service":"registered","x":827.6092529296875,"y":288.231689453125,"wires":[]},{"id":"d31225c2.0a18d","type":"debug","z":"c3271096.6f1c08","name":"","active":true,"console":"false","complete":"payload","x":638.6092529296875,"y":105.231689453125,"wires":[]},{"id":"1529b510.cc1b63","type":"inject","z":"7d1b4d6d.b5149c","name":"Pump Temperature","topic":"","payload":"16","payloadType":"num","repeat":"","crontab":"","once":false,"x":142,"y":195.28533935546875,"wires":[["eee2455f.ead5d8"]]},{"id":"eee2455f.ead5d8","type":"function","z":"7d1b4d6d.b5149c","name":"Random Temperature","func":"var now = ( new Date() ).getTime();\n//var value = Math.floor( Math.random() * 100 );\nvar value=msg.payload;\nmsg.payload = {\n    tstamp: now,\n    data: value\n};\nmsg.payload=JSON.stringify({tstamp: now,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":440.77764892578125,"y":198.96685791015625,"wires":[["2fb82b15.26dbb4"]]},{"id":"2fb82b15.26dbb4","type":"ibmiot out","z":"7d1b4d6d.b5149c","authentication":"boundService","apiKey":"c7c1f441.66896","outputType":"evt","deviceId":"josedeviceid","deviceType":"TemperatureSensor","eventCommandType":"temperature","format":"json","data":"{\"d\":{\"temperaure\":\"10\"}}","qos":"","name":"IBM IoT","service":"registered","x":678.9886474609375,"y":199.57540893554688,"wires":[]},{"id":"f12da760.2510b8","type":"comment","z":"7d1b4d6d.b5149c","name":"Device Simulation","info":"","x":103.61363220214844,"y":24,"wires":[]},{"id":"d10e0c25.97516","type":"function","z":"7d1b4d6d.b5149c","name":"Defrost Alert","func":"var evt = 'defrost';\nvar value = 0;\nif(context.global.defrost===0)\nvalue = 1;\nmsg.payload = {\n    eventType: evt,\n    data: value\n};\nmsg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n","outputs":1,"noerr":0,"x":433.22214126586914,"y":307.10577869415283,"wires":[["8ba5adf8.aa9ea"]]},{"id":"8ba5adf8.aa9ea","type":"ibmiot out","z":"7d1b4d6d.b5149c","authentication":"boundService","apiKey":"c7c1f441.66896","outputType":"cmd","deviceId":"josedeviceid","deviceType":"DefrostControl","eventCommandType":"defrost","format":"json","data":"{\"d\":{\"alert\":\"defrost\"}}","qos":"","name":"IBM IoT","service":"registered","x":686.4039306640625,"y":308.79168701171875,"wires":[]},{"id":"c653d3e6.43d3f8","type":"switch","z":"4d27551d.66d20c","name":"AlarmConditionCheck","property":"payload.data","propertyType":"msg","rules":[{"t":"gt","v":"CutOutTemperature","vt":"global"},{"t":"lt","v":"CutInTemperature","vt":"global"}],"checkall":"true","outputs":2,"x":369,"y":66,"wires":[["f9ed5077.2e5b18"],[]]},{"id":"d240023a.840ee8","type":"function","z":"4d27551d.66d20c","name":"SetDefaultNormalTemperatures","func":"if(!context.global.hasOwnProperty(\"CutOutTemperature\"))\ncontext.global.CutOutTemperature=20;\nif(!context.global.hasOwnProperty(\"CutInTemperature\"))\ncontext.global.CutInTemperature=10;\nreturn msg;","outputs":1,"noerr":0,"x":143,"y":139,"wires":[["c653d3e6.43d3f8","aa7f9e5.b83d3e"]]},{"id":"f9ed5077.2e5b18","type":"switch","z":"4d27551d.66d20c","name":"DefrostOFFCheck","property":"defrost","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":619,"y":51,"wires":[[]]},{"id":"aa7f9e5.b83d3e","type":"switch","z":"4d27551d.66d20c","name":"GreaterThanCutInTemperature","property":"payload.data","propertyType":"msg","rules":[{"t":"gt","v":"CutInTemperature","vt":"global"}],"checkall":"true","outputs":1,"x":204,"y":312,"wires":[["c9fcac4c.7c4c58"]]},{"id":"c9fcac4c.7c4c58","type":"switch","z":"4d27551d.66d20c","name":"LessThanCutOutTemperature","property":"payload.data","propertyType":"msg","rules":[{"t":"lt","v":"CutOutTemperature","vt":"global"}],"checkall":"true","outputs":1,"x":233,"y":377,"wires":[["adbe7a46.cb1168"]]},{"id":"adbe7a46.cb1168","type":"switch","z":"4d27551d.66d20c","name":"DefrostOFFCheck","property":"defrost","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":517,"y":371,"wires":[[]]},{"id":"3fc6e689.6fc812","type":"comment","z":"4d27551d.66d20c","name":"Alert Condition Check","info":"","x":240,"y":260,"wires":[]},{"id":"f013858d.c97d88","type":"comment","z":"4d27551d.66d20c","name":"Alarm Condition Check","info":"","x":153,"y":25,"wires":[]},{"id":"ebf5c645.926a68","type":"function","z":"ea8252d9.8335a","name":"CofiugureEmailID","func":"if(context.global.hasOwnProperty(\"email\"))\nmsg.to=context.global.email;\nelse{\ncontext.global.email=\"josekavunkal@gmail.com\";\nmsg.to=context.global.email;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":221,"y":177,"wires":[["6830f47b.1606fc"]]},{"id":"b6668c83.6149b","type":"e-mail","z":"ea8252d9.8335a","server":"smtp.gmail.com","port":"465","name":"","dname":"ServiceEngineerAlert","x":640,"y":341,"wires":[]},{"id":"2b200736.8d16f8","type":"debug","z":"ea8252d9.8335a","name":"","active":true,"console":"false","complete":"data","x":694,"y":156,"wires":[]},{"id":"a954eceb.f98b68","type":"ibmiot in","z":"cf2f140b.3f783","authentication":"boundService","apiKey":"1621b4c1.6a1f73","inputType":"cmd","deviceId":"josedeviceid","applicationId":"","deviceType":"DefrostControl","eventType":"defrost","commandType":"defrost","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":false,"allCommands":"","allFormats":"","qos":"0","x":120,"y":151.28219604492188,"wires":[["d980a246.afff5"]]},{"id":"d980a246.afff5","type":"function","z":"cf2f140b.3f783","name":"Defrost","func":"var now = ( new Date() ).getTime();\nvar value=msg.payload.data;\ncontext.global.defrost=msg.payload.data;\nmsg.payload = {\n    tstamp: now,\n    data: value\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":354.3333740234375,"y":150.91030883789062,"wires":[[]]},{"id":"b4830557.77f78","type":"debug","z":"cf2f140b.3f783","name":"","active":true,"console":"false","complete":"true","x":806.7221794128418,"y":541.8212985992432,"wires":[]},{"id":"f5a1b294.fbf13","type":"comment","z":"cf2f140b.3f783","name":"Registered Device Flows","info":"","x":119.61679077148438,"y":24,"wires":[]},{"id":"62ad101c.6ee7d","type":"ibmiot in","z":"cf2f140b.3f783","authentication":"boundService","apiKey":"1621b4c1.6a1f73","inputType":"evt","deviceId":"josedeviceid","applicationId":"","deviceType":"+","eventType":"temperature","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":"0","x":117,"y":271.2821960449219,"wires":[["f1722c9e.6b7cf","9984af17.075e68"]]},{"id":"384f1311.bfecf4","type":"function","z":"cf2f140b.3f783","name":"Alarm","func":"var now = ( new Date() ).getTime();\nvar value=msg.payload.data;\nmsg.payload = {\n    tstamp: now,\n    Temperature: value, \n    incident: \"Alarm\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":534,"y":251.28219604492188,"wires":[["d9f1085b.fdbc98","a778c015.fd5828"]]},{"id":"d9f1085b.fdbc98","type":"cloudant out","z":"cf2f140b.3f783","name":"database","cloudant":"181edd10.83d50b","database":"refrigeratordb","service":"iottool-cloudantNoSQLDB","payonly":true,"operation":"insert","x":796.5535888671875,"y":264.8074035644531,"wires":[]},{"id":"2796ff8f.ba29b8","type":"function","z":"cf2f140b.3f783","name":"Alert","func":"var now = ( new Date() ).getTime();\nvar value=msg.payload.data;\nmsg.payload = {\n    tstamp: now,\n    Temperature: value, \n    incident: \"Alert\",\n    Cause :\"Temperature above CutIn value\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":532,"y":291.2821960449219,"wires":[["605b26f6.1733a","d9f1085b.fdbc98","976e8854.4a33f8"]]},{"id":"605b26f6.1733a","type":"subflow:ea8252d9.8335a","z":"cf2f140b.3f783","name":"Alert Service Engineer","x":757,"y":317.2821960449219,"wires":[]},{"id":"f1722c9e.6b7cf","type":"subflow:4d27551d.66d20c","z":"cf2f140b.3f783","name":"Alarm / Alert Check","x":336,"y":271.2821960449219,"wires":[["384f1311.bfecf4"],["2796ff8f.ba29b8"]]},{"id":"11d0c1e9.68f70e","type":"comment","z":"cf2f140b.3f783","name":"Accepting Defrost Status","info":"","x":179,"y":111.28219604492188,"wires":[]},{"id":"713382a0.6687a4","type":"comment","z":"cf2f140b.3f783","name":"Alarms and Alerts","info":"","x":157,"y":228.28219604492188,"wires":[]},{"id":"397788a.0f7e878","type":"ui_slider","z":"c3271096.6f1c08","group":"6798eef9.7739e8","order":1,"width":"","height":"","name":"Cut Out Temperature","label":"Cut Out","topic":"","min":0,"max":"30","x":186,"y":347.25,"wires":[["57c4214c.7bf918","54645051.57e99"]]},{"id":"aaf4a933.41d808","type":"ui_slider","z":"c3271096.6f1c08","group":"6798eef9.7739e8","order":1,"width":"","height":"","name":"Cut In Temperature","label":"Cut In","topic":"","min":0,"max":"30","x":170,"y":541,"wires":[["ecf74050.d33fe","a27151e8.9c4c7"]]},{"id":"c2fcbc94.999078","type":"ui_text_input","z":"c3271096.6f1c08","group":"6798eef9.7739e8","order":1,"width":"","height":"","name":"","mode":"email","delay":300,"label":"EMail ID","topic":"","x":147.75,"y":290,"wires":[["8c422adc.945338"]]},{"id":"ed04ade6.b5a888","type":"ui_slider","z":"7d1b4d6d.b5149c","group":"938c594.79f4ea8","order":"2","width":"","height":"","name":"Temperature Control ","label":"Temperature Control ","topic":"","min":"5","max":"100","x":339.88330078125,"y":40.883331298828125,"wires":[["eee2455f.ead5d8","2bed75ca.9aaeaa"]]},{"id":"2bed75ca.9aaeaa","type":"ui_numeric","z":"7d1b4d6d.b5149c","group":"938c594.79f4ea8","order":"2","width":"","height":"","name":"Chiller Temperature","label":"Chiller Temperature","topic":"","format":"{{value}}","min":"5","max":"100","x":337.7666320800781,"y":90.38333129882812,"wires":[["ed04ade6.b5a888"]]},{"id":"9984af17.075e68","type":"function","z":"cf2f140b.3f783","name":"Temperature","func":"var temp= msg.payload.data;\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":256.76666259765625,"y":399.3166809082031,"wires":[["8cfb7cf6.23b01"]]},{"id":"b5d08eeb.8fdf","type":"ui_switch","z":"7d1b4d6d.b5149c","group":"938c594.79f4ea8","order":1,"width":"","height":"","name":"Switch","label":"Defrost ON/OFF","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":261.76666259765625,"y":308.8999938964844,"wires":[["d10e0c25.97516"]]},{"id":"a778c015.fd5828","type":"function","z":"cf2f140b.3f783","name":"Temperature Alarm","func":"var temp=msg.payload.Temperature;\nmsg.payload=temp;\nmsg.topic=\"Alarm\";\nreturn msg;\n","outputs":1,"noerr":0,"x":758.88330078125,"y":183.88333129882812,"wires":[["81cc9190.30a54"]]},{"id":"81cc9190.30a54","type":"ui_toast","z":"cf2f140b.3f783","name":"show toast","x":1015.38330078125,"y":266.2500305175781,"wires":[]},{"id":"976e8854.4a33f8","type":"function","z":"cf2f140b.3f783","name":"Temperature Alert","func":"var temp=msg.payload.Temperature;\nmsg.payload=temp;\nmsg.topic=\"Alert\";\nreturn msg;\n","outputs":1,"noerr":0,"x":739,"y":376,"wires":[["81cc9190.30a54"]]},{"id":"8cfb7cf6.23b01","type":"ui_gauge","z":"cf2f140b.3f783","name":"Chiller Temperature","group":"ab27421e.a54d7","order":0,"width":0,"height":0,"gtype":"gage","title":"Chiller Temperature","label":"units","format":"{{value}}","min":0,"max":"100","x":455,"y":401,"wires":[]},{"id":"b44e34ff.540808","type":"switch","z":"ea8252d9.8335a","name":"AlertNecesscityCheck","property":"data","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":465,"y":256,"wires":[["b6668c83.6149b","2b200736.8d16f8"],["2b200736.8d16f8"]]},{"id":"6830f47b.1606fc","type":"function","z":"ea8252d9.8335a","name":"AlertFrequencyCheck","func":"\n\nif(context.global.hasOwnProperty(\"LastMessageTime\")){\n    var now = ( new Date() ).getTime();\n    var lastMessageTime=context.global.LastMessageTime;\n    if ((now-lastMessageTime)/1000 >60)\n    context.global.NeedFlow=1;\n    else\n     context.global.NeedFlow=0;\n context.global.LastMessageTime=now;\n}else\n{\n    context.global.NeedFlow=1;\n    var now = ( new Date() ).getTime();\n    context.global.LastMessageTime=now;\n}\nmsg.data=context.global.NeedFlow;\n\nreturn msg;","outputs":1,"noerr":0,"x":302.5,"y":361.25,"wires":[["b44e34ff.540808"]]},{"id":"54645051.57e99","type":"ui_numeric","z":"c3271096.6f1c08","group":"6798eef9.7739e8","order":"2","width":"","height":"","name":"Cut Out Temperature","label":"Cut Out Temperature","topic":"","format":"{{value}}","min":"5","max":"100","x":176.25,"y":402.75,"wires":[["397788a.0f7e878"]]},{"id":"a27151e8.9c4c7","type":"ui_numeric","z":"c3271096.6f1c08","group":"6798eef9.7739e8","order":"2","width":"","height":"","name":"Cut In Temperature","label":"Cut In Temperature","topic":"","format":"{{value}}","min":"5","max":"100","x":172.25,"y":460.5,"wires":[["aaf4a933.41d808"]]},{"id":"5c18565c.833e88","type":"ui_numeric","z":"c3271096.6f1c08","group":"6798eef9.7739e8","order":0,"width":0,"height":0,"name":"Alert Frequency","label":"Alert Frequency in Seconds","topic":"","format":"{{value}}","min":0,"max":"120","x":168.25,"y":229,"wires":[["f0e483a6.91d3d"]]},{"id":"f0e483a6.91d3d","type":"function","z":"c3271096.6f1c08","name":"AlertFrequencyChange","func":"var evt = 'alertFrequencyChange';\nvar value = msg.payload;\n\nmsg.payload = {\n    eventType: evt,\n    data: value\n};\nmsg.payload=JSON.stringify({eventType: evt,data: value});\nreturn msg;\n\n","outputs":1,"noerr":0,"x":460.5,"y":232.75,"wires":[["f7a4453b.52fa7"]]},{"id":"7a7af217.c21fec","type":"inject","z":"7d1b4d6d.b5149c","name":"","topic":"Defrost","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":103,"y":308,"wires":[["b5d08eeb.8fdf"]]},{"id":"7a418afd.63a60c","type":"comment","z":"c3271096.6f1c08","name":"Accept configuration change","info":"","x":188,"y":61,"wires":[]},{"id":"70a2a12a.76fd5","type":"comment","z":"c3271096.6f1c08","name":"Change configuration change","info":"","x":153,"y":185,"wires":[]}  ]
